{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": "standard",
    "globals": {
        "atom": true,
        "HTMLElement": true
    },
    "rules": {
        "global-require": error,
        "indent": ["error", 4],
        "semi": ["error", "always"]
    }
}
